server/pyvenv.cfg
server/Lib/
server/Scripts/
server/service/__pycache__/
server/database.db
*.pyc
mft-db-tool/.firebase/
server/lens_data.json
server/.idea/csv-plugin.xml
server/df.csv
server/pandas-1.3.3-cp310-cp310-win_amd64.whl
